body{
    line-height: 150%;
    min-height:100vh;
    display:flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
    text-align: center;
}
div.container{
    text-align: center;
    background-color: beige;
    min-height:100vh;
}

ul{
    display: inline-block;
    text-align: left;
}

h1{
    background-color: rgb(226, 226, 195);
}
img{
    width:150px;
    height:auto;
}