div.container{
    text-align: center;
    background-color: beige;
}

ul{
    display: inline-block;
    text-align: left;
}

h1{
    background-color: rgb(226, 226, 195);
}
img{
    width:150px;
    height:auto;
}